.userContainer {
  background-color: white;
  width: 550px;
  border-radius: 30px;
  overflow: hidden;
}

.userContainer__Userlist {
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.userContainer__Userlist a {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;

  width: 90%;
  margin: 0 auto;
  text-decoration: unset;
}
.userContainer__Userlist a:not(:last-child) {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.userContainer h1 {
  text-align: center;
  background-color: rgb(245, 245, 245);
  font-size: 24px;
  padding: 3rem;
  margin-bottom: 0.5rem;
}
.userContainer__Userlist--user {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;

  width: 90%;
  margin: 0 auto;
}
.userContainer__Userlist--user:not(:last-child) {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.userContainer__Userlist--user h2 {
  color: rgb(70, 70, 70);
  font-weight: 400;
  cursor: pointer;
}

.userContainer__Userlist--user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}
